
.header-input-container {
  background-color: rgb(240, 250, 240);
  display: flex;
  width: 88%;
  justify-content: center;
  align-items: center;
  height: 20vh;
  gap: 10px;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}

.search-bar {
  height: 25px;
  width: 50vw;
  border-radius: 20px;
  border: 1px solid rgb(34, 70, 34);
  padding-left: 10px;
}

.search-btn {
  height: 30px;
  padding: 0 15px;
  border-radius: 20px;
  border: 1px solid rgb(34, 70, 34);
  background-color: rgb(34, 70, 34);
  color: rgb(245, 245, 245);
  cursor: pointer;
}