.game-title {
  margin: 25px 10px;
  color: #b7410e;
  font-size: 2.5rem;
}

.intro-msg {
  margin: 20px 0 15px 30px;
}

.rules-btn, .discard-btn{
  margin-left: 10px;
  padding: 3px;
  border-radius: 5px;
  border: none;
  color:rgb(235, 240, 228);
  background-color: rgb(183, 65, 14);
  cursor: pointer;
}

.difficulty-container {
  margin-top: 30px;
  margin-left: 30px;
}

.input-container {
  display: block;
  margin-top: 10px;
}

.next-btn {
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  color:rgb(235, 240, 228);
  background-color: rgb(86, 13, 143);
  cursor: pointer;
}

.home-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; 
  padding: 20px;
}

