body {
  background-color: rgb(231, 229, 229);
  color: black;
  margin: 0;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.recipe-image {
  width: 25vw;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-image:hover {
  transform: scale(1.05);
}